body
{ 
    font-family: 'Rubik', sans-serif;
    background-color: #efefef;
}
header
{
    width: 100%;
}
.logo
{
    width: 10%;
    position: absolute;
    left: 200px;
    top: 5px;
    /*margin-left: 30px;
    float: left;*/
}
.navegation
{
    width: 80%;
    padding: 5% 5% 5% 0;
    float: right;
    text-align: center;
}
.navegation a
{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin: 10px 10px;
}
.navegation a:hover
{
    color: #ffaa00;
}
main
{
    width: 940px;
    margin: 0px auto;
    background: linear-gradient(#efefef,#888888); 
    width: 100%;
}
footer
{
    background-color: #888888;
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}
.networks li
{
    display: inline;
}
.links
{
    width: 5%;
    margin: 10px 10px;
}